
:root {
    --fontColor: rgb(61, 11, 53);
    --bgColor: #fff5fdc9;
    --borderColor: rgb(61, 11, 40);
    --dropShadow: 0, 0, 0;
    --linkColor: rgb(252, 119, 250);
    --linkHover: rgb(201, 51, 191);
    --navColor: rgb(255, 245, 252);
    --hrColor: rgb(255, 176, 244);
    --headColor: rgb(255, 245, 246);
}


@font-face {
    font-family: "DSFont";
    src: url("assets/Nintendo-DS-BIOS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
}

main{
    display: grid !important;
  grid-template-areas:
    "menu menu"
    "content content"
    "content content";
  grid-template-rows: .75fr 3fr 3fr;
  gap: 3px;
  font-family: "DSFont";
  font-size: 2em;
  margin: 0;
  padding: 0;
}


aside{
    grid-area: menu;
    text-align: center;  
    padding-top: 1em;
    position: sticky;
    top:0;
    text-align: center;
    z-index: 999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1rem;

}

section{
    grid-area: content;
    padding-top: .2em;
    column-count: 3;      
    column-gap: .1em;
}


.responsive {
    max-width: 100%;
    height: auto;
}


section img{
    margin: .15em;
    max-width: 30vw;
    display: block;
}


section img:hover{
    filter:saturate(30%);
    transition: all .4s
}

.thing1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    width: 100vw;
    margin: auto;
    text-align: center;  
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 999;
    transform: translateY(100%); 
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.featured{
    max-width: 60%;
}


#image1.active {
  transform: translateY(0);
}

#image2.active {
  transform: translateY(0);
}

#image3.active {
  transform: translateY(0);
}

.navbutton{
    max-width: auto;
    max-height: 3vh;
}


.aboutbutton{
    background-image: url("assets/ui/about_default.png");
}


.indexbutton{
    background-image: url("assets/ui/home_default.png");
}

/* phone  */
@media only screen and (max-width: 600px) {
    section{
        column-count: 2 !important;
        justify-content: center;
        align-items: center;
    }   

    section img{
        max-width: 45vw;
    }
}